<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>New post</title>
    <meta name="description" content="New Post">
    <th:block th:replace="~{fragments/stylesAndScripts :: head}"></th:block>
</head>

<body>
<th:block th:replace="~{fragments/loggedSign :: sign}"></th:block>
<h3>new post</h3>
<div class="container-fluid no-gutters mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form th:object="${newPostForm}" method="post" th:action="@{/addNewPost}">
                <div class="form-group">
                    <label>Title:</label>
                    <input class="form-control" type="text" placeholder="title" th:field="*{title}">
                    <span th:errors="*{title}"></span>
                </div>
                <div class="form-group">
                    <label>content:</label>
                    <textarea class="form-control" rows="6" placeholder="type your post here..."
                              th:field="*{content}"></textarea>
                    <span th:errors="*{content}"></span>
                </div>


                <br>
                <button type="submit" class="btn btn-primary">Add post</button>
            </form>
        </div>
    </div>
    <div class="row justify-content-end mt-3">
        <div class="col-md-2">
            <form method="get" th:action="@{/index}">
                <input class="btn btn-primary btn-sm" type="submit" value="Go back to main page">
            </form>
        </div>
    </div>
</div>
</body>

</html>
