<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Index html</title>
    <meta name="description" content="Main page">
    <th:block th:replace="~{fragments/stylesAndScripts :: head}"></th:block>

</head>

<body>
<h1>Main Page</h1>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="buttons">
                <form method="get" th:action="@{/goToLoginForm}">
                    <input class="btn btn-primary btn-lg mt-5" type="submit" value="Log in">
                </form>
                <form method="get" th:action="@{/goToRegisterForm}">
                    <input class="btn btn-primary btn-lg mt-3" type="submit" value="Register">
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>
